<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    /><link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>BlackPage</title>
  </head>
  <body>
    <nav>
      <h1><a href="/">Home</a></h1>
    </nav>
    <main id="main">
      {{{body}}}
    </main>
    <footer>
      <div class="font-italic">Copyright ©2021 All rights reserved</div>
      <div class="font-weight-bold h4">BlackPage</div>
      <div><a href="/login/register" class="font-weight-bold h3">Sign Up!</a></div>
    </footer>
  </body>
</html>