<div class="wrongPath">
  <div class="d-flex justify-content-between align-items-center w-75 mx-auto">
    <h1>Page not found!<br /> Please go back Home!</h1>
    <a href="/" class="goHomeButton">Home</a>
  </div>

</div>